@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Blog>
<!-- Page Header -->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Kubernetes Demo. Machine: @Environment.MachineName</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @foreach (var blog in Model)
            {
                <div class="post-preview">
                    <a href="post">
                        <h2 class="post-title">
                            @blog.Title
                        </h2>
                        <h3 class="post-subtitle">
                            @blog.Description
                        </h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#">@blog.Author</a>
                        @blog.Date.ToString("dddd, dd MMMM yyyy")
                    </p>
                </div>
                <hr />
            }
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>
